{% extends "auctions/layout.html" %}
{% block body %}
    <style>
        /* Tarih seçiciyi özelleştirme */
        .ui-datepicker {
            background-color: white;
            border: 2px solid black; 
            border-radius: 5px; 
        }
        
        .ui-datepicker-header {
            background-color: #333;
            color: white;
            border: none;
        }
        
        .ui-datepicker-header a {
            color: white; 
        }
        
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function() {
        $("#rentDate").datepicker(); 
        $("#returnRentDate").datepicker();
        $("#rentButton").click(function() {
            var selectedDate = $("#rentDate").val();
        });
    });
    </script>
    <h1>{{listing.brand}}</h1>
    <h2>{{listing.model}}</h2>
    <h2>{{listing.id}}</h2>
    <img src="{{listing.imageUrl}}" height="400px">
    <p>{{listing.description}}</p>
    <h4>{{listing.price}}₺</h4>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="rentDate" name="rentDate" placeholder="Kiralama Başlangıç Tarihi Seçin">
        <input type="text" id="returnRentDate" name="returnRentDate" placeholder="Kiralama Bitiş Tarihi Seçin">
        <button type="submit" id="rentButton" class="btn btn-success m-1">Kirala</button>
    </form>
    {% endif %}
{% endblock  %}